@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import "tailwindcss";

:root {
  --font-exo2: "Exo 2", sans-serif;
}
.avara-title {
  margin-left: 0;
  font-family: var(--font-exo2);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
html,
body {
  height: 100%;
  margin: 0;
}

.grandiet-interactive-input {
  background: linear-gradient(90deg, #dedede 0%, #bdddff 100%);
}
